---
import {Image} from "astro:assets";
import deposito from "../assets/img/deposito.jpg";
import operario from "../assets/img/operario.png";

import acondicionado from "../assets/svg/acondicionado.svg";
import mantenimiento from "../assets/svg/mantenimiento-centralizado.svg";
import instalacion from "../assets/svg/inst-electrica.svg";
import bomba from "../assets/svg/bombas-agua.svg";
import electrogeno from "../assets/svg/electrogenos.svg";
import durlocks from "../assets/svg/durlocs.svg";
import pintura from "../assets/svg/pintura-gral.svg";
import obras from "../assets/svg/obras-civiles.svg";
import circuitos from "../assets/svg/circuitos.svg";
--- 
<section id="servicios">
    <article>
        <div class="relative">
            <h1 class="text-[#e20719] text-4xl font-extrabold mb-4 text-center sm:hidden">Servicios</h1>
            <Image src={deposito} alt="Imagen de deposito" class="w-full h-auto hidden sm:block" priority/>
            <div class="relative sm:absolute bottom-0 w-full h-full text-sm md:text-lg lg:text-2xl p-4 bg-[url(/deposito.jpg)] bg-no-repeat bg-cover bg-center md:bg-none">
                <div class="flex lg:items-center lg:justify-center">
                    <div class="w-1/2 hidden sm:block">
                        <Image src={operario} alt="Imagen de operario" loading="lazy" class="md:mt-12 sm:w-3/4 md:w-5/6 scale-x-[-1] sm:scale-x-[1]"/>
                    </div>
                    <div class="w-2/5 ps-10 sm:hidden absolute bottom-0 right-0">
                        <Image src={operario} alt="Imagen de operario" loading="lazy" class="scale-x-[-1] sm:scale-x-[1]"/>
                    </div>
                    <div class="">
                        <h1 class="text-[#e20719] text-4xl font-extrabold mb-4 hidden sm:block">Servicios</h1>
                        <ul class="lg:[&>li>img]:w-8 [&>li>img]:w-6 [&>li]:flex [&>li]:gap-2 space-y-2 sm:space-y-3 md:lg:space-y-6 lg:space-y-8">
                            <li class="sm:ms-2"><img src={acondicionado.src} alt="Refrigeración y Calefacción"> Refrigeración y Calefacción</li>
                            <li class="sm:ms-5"><img src={instalacion.src} alt="Instalaciones eléctricas"> Instalaciones eléctricas</li>
                            <li class="sm:ms-6"><img src={circuitos.src} alt="Circuitos Estabilizados">Circuitos Estabilizados</li>
                            <li class="sm:ms-8"><img src={electrogeno.src} alt="Grupos Electrógenos y Autónomos">Grupos Electrógenos / Autónomos</li>
                            <li class="sm:ms-10"><img src={mantenimiento.src} alt="Mobiliarios e Institucionales">Mobiliarios / Institucionales</li>
                            <li class="sm:ms-12"><img src={bomba.src} alt="Sanitarios y Suministro de agua">Sanitarios / Sum. de agua</li>
                            <li class="sm:ms-14"><img src={durlocks.src} alt="Durlería y Carpinterías Metálicas">Durlería / Carpinterías Metálicas</li>
                            <li class="sm:ms-16"><img src={pintura.src} alt="Pintura en general">Pintura en general</li>
                            <li class="sm:ms-18"><img src={obras.src} alt="Obras Civiles">Obras Civiles</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>